* {
  margin: 10;
  padding: 10;
  box-sizing: border-box;
}

/*Aqui comento mis TITULOS */
h1 {
  font-style: italic;
  color: rgb(201, 19, 207);
  font-weight: 100;
  font-size: 4rem;
  text-align: center;
}

/*Aqui comento mis subtitulos */
h2 {
  font-style: initial;
  color: rgb(171, 216, 119);
  font-weight: 100;
  font-size: 2rem;
  text-align: center;

}

/*Aqui comento mis Parrafos */
p {
  color: white;
  text-align: justify;
  display: block;
  font-size: 1.5rem;
  text-align: center;
}

/*Aqui comento el cuerpo */
body {
  background: linear-gradient(to top, #4fb576 0%, #44c489 30%, #28a9ae 46%, #28a2b7 59%, #4c7788 71%, #6c4f63 86%, #432c39 100%);
  text-align: justify;
  display: block;
  text-align: center;  
  margin: auto;
}

/*Aqui comento mis FOOTERS */
footer {
  text-align: justify;
  display: block;
  text-align: right;
  margin: auto;
}

/*Aqui comento UL y LI */
ul {
  list-style-type: square;
  text-align: center;
  color: white;
}

li {
  list-style-type: square;
  text-align: center;
  color: white;
  list-style: none;
  font: bold 1.5rem verdana;
}

.tablas {
  color: white;
  margin: auto;

}

.menu li:hover {

  /* display: inline-block;
  text-align: center;*/

  font-size: 1.3rem;
  border: solid 1.5px rgba(0, 0, 0, 0.859);
  border-radius: 20px;
  border-color: rgb(207, 29, 169);
  background-color: rgba(234, 205, 41, 0.766);
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.seccion {
  padding: 3rem;
}

img {
  width: 380px;

}

.foto1 {
  width: 180px;
  transform: rotate(5deg);
}


.banner {
  width: 1600px;
}

@media (max-width: 720px) {
  .banner {
    width: 100vw;

  }

}

html {
  margin-top: 30px;
}

.caja {
  /* 
    border-color: red;
    border-style: solid;
    border-width: 3px;

    tambien se puede top right bottom y left
     */

  border: solid 3px rgb(221, 17, 163);
  color: rgb(193, 239, 41);

  /* alto y ancho*/
  /* ViewPort Width para el ancho */
  /* ViewPort h para el alto hay que ponerlo en% */
  width: 40%;
  height: 20px;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 60px;
  font-size: 1.2rem;
  /* interesante para hacer una caja con scroll (exceso de contenido) */
  overflow: auto;
  /* para poner en linea algo que esta en bloque */
  display: inline-block;
}

.Whatsapp {
  position: fixed;

  bottom: 4%;
  right: 4%;

}

.seccion {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  grid-template-areas:
    "articulo1 articulo2"
    "articulo3 articulo4"
}

.articulo1 {
  grid-area: articulo1;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  border: solid 8px rgba(61, 20, 173, 0.859);
  width: 1000px;
  padding: 20px;
}

@media (max-width: 720px) {
  .seccion {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

    grid-template-areas:
      "articulo1"
      "articulo2"
      "articulo3"
      "articulo4"
  }

  .articulo1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }
}

.articulo2 {
  grid-area: articulo2;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  border: solid 8px rgba(61, 20, 173, 0.859);
  width: 1000px;
  padding: 160px;
}

@media (max-width: 720px) {
  .articulo2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }
}

.articulo3 {
  grid-area: articulo3;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  border: solid 8px rgba(61, 20, 173, 0.859);
  width: 1000px;
  padding: 160px;
}

@media (max-width: 720px) {
  .articulo3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }
}

.articulo4 {
  grid-area: articulo4;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  border: solid 8px rgba(61, 20, 173, 0.859);
  width: 1000px;
  padding: 160px;
}


@media (max-width: 720px) {
  .articulo4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }
}

.nav__flex li:hover {


  font-size: 1.5rem;
  border: solid 1.5px rgba(0, 0, 0, 0.859);
  border-radius: 20px;
  background-color: rgba(42, 204, 60, 0.766);
  display: flex;
  justify-content: center;

}

header {
  background-color: rgba(0, 0, 0, 0.434);

}

@media (max-width:720px) {
  .menu {
    display: block;
    text-align: center;
  }
}

/* ----- Ofertas ------- */

#ofertas div {
  padding: 80px;
}

#ofertas h2 {
  background-color: rgba(254, 131, 16, 0.748);
  padding: 10px;
  text-align: center;
  color: rgba(15, 1, 13, 0.897);
  font-size: 3rem;
  font-family: sans-serif, 'Times New Roman', Times, serif, Arial, Helvetica, sans-serif;
}

.tarjeta-ofertas {
  border: solid 2.5px rgba(0, 0, 0, 0.859);
  width: 450px;
  padding: 20px;

  border-radius: 80px;

  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  background-color: rgba(254, 131, 16, 0.748);
}

.tarjeta-ofertas h3 {
  text-align: center;
}

.tarjeta-ofertas img {
  width: 60%;
}

.tarjeta-ofertas p {
  margin: 10px auto;
  text-align: center;
}

.tarjeta-ofertas a {
  border: 4px solid black;

  text-decoration: none;
  padding: 5px 10px;

  background-color: rgba(255, 242, 0, 0.648);
  color: black;

  border-radius: 80px;
}

.tarjeta-ofertas a:hover {
  background-color: rgba(219, 20, 233, 0.829);
}

.contenedor-ofertas {
  display: flex;
  justify-content: space-around;  
  flex-wrap: wrap;
  background-color: rgba(3, 4, 3, 0.886);
}

footer {

  background-color: rgba(0, 0, 0, 0.434);
}

form {
  color: rgb(79, 21, 215);
  background-color: rgba(25, 222, 143, 0.762);
  font-size: 1rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}